<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
<body>
    <div class="container">
        <h1>Building Parameter Input</h1>
        <form action="/predict" method="post">
            <label for="X1">Relative Compactness:</label>
            <input type="text" id="X1" name="X1"><br><br>
            <label for="X2">Surface Area:</label>
            <input type="text" id="X2" name="X2"><br><br>
            <label for="X3">Wall Area:</label>
            <input type="text" id="X3" name="X3"><br><br>
            <label for="X4">Roof Area:</label>
            <input type="text" id="X4" name="X4"><br><br>
            <label for="X5">Overall height:</label>
            <input type="text" id="X5" name="X5"><br><br>
            <label for="X6">Orientation:</label>
            <select name="X6" id = "X6">
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select><br><br>
            <label for="X7">Glazing Area:</label>
            <input type="text" id="X7" name="X7"><br><br>
            <label for="X8">Glazing Area Distribution:</label>
            <select name="X8" id = "X8">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select><br><br>
            <input type="submit" value="Predict">
        </form>
    </div>
</body>
</html>
